body {background-color: #FFFFF;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
   text-align: justify;
   color: rgb(130, 128, 128);
}


h1 {
    text-align: justify;
}