

html{
    background: url(pattern.png) repeat;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  font-family: "Museo Sans Rounded";
    color: rgb(252, 241, 252);
}
p{
color:deeppink;
}
.fran{
    float:right;

}

.font{
font-size: 12rem;
color: transparent;
transition-duration: 1s;
transition-timing-function: cubic-bezier (.5,-5,.3,1.3), ease;
transition-delay: .2s;
  border-radius: 150px;

}
.font:hover{
    color: white;
}


  #one {
  border-radius: 300px;
  background: blue;
  position: absolute;
  float: left;
  top: 550px;
  width: 300px;
  height: 300px;
  margin-left:  500px;
  margin-top: 5px;
  z-index: 4;

    
}
#one:hover{
    background: coral;
    border-radius: 50%; 
}

#two {
  border-radius: 50px;
  background: purple;
  position: absolute;
  float: left;
  top: 550px;
  width: 20px;
  height: 70px;
margin-left:  650px;
  margin-top: 5px;
  z-index: 4;

    
}
.wrap2:hover .two{
    margin-left:  80%;
    background: MediumSpringGreen ;
   
    border-radius: 50%;
}
#two:hover{
  top: 150px;
    background: coral;
    border-radius: 50%; 
}

#three {
  border-radius: 10px;
  background: lightgreen;
  position: absolute;
  float: left;
  top: 550px;
  width: 250px;
  height: 70px;
  margin-left:  300px;
  margin-top: 5px;
  z-index: 4;

    
}
#four {
  border-radius: 50px;
  background:gray;
  position: absolute;
  float: left;
  top: 550px;
  width: 50px;
  height: 50px;
  margin-left:  370px;
  margin-top: 5px;
  z-index: 4;

    
}

#five {
  border-radius: 50px;
  background: gray;
  position: absolute;
  float: left;
  top: 450px;
  width: 50px;
  height: 50px;
  margin-left:  300px;
  margin-top: 5px;
  z-index: 4;

}
#six {
  border-radius: 50px;
  background: yellow;
  position: absolute;
  float: left;
  top: 450px;
  width: 50px;
  height: 50px;
  margin-left:  300px;
  margin-top: 5px;
  z-index: 4;

}
#seven {
  border-radius: 90px;
  background: mediumorchid;
  position: absolute;
  float: left;
  top: 550px;
  width: 90px;
  height: 90px;
margin-left:  550px;
  margin-top: 5px;
  z-index: 4;

    
}
#eight {
  border-radius: 90px;
  background: lightblue;
  position: absolute;
  float: left;
  top: 550px;
  width: 90px;
  height: 90px;
margin-left:  750px;
  margin-top: 5px;
  z-index: 4;

    
}
#nine {
  border-radius: 100px;
  background: pink;
  position: absolute;
  float: left;
  top: 620px;
  width: 150px;
  height: 90px;
margin-left:  390px;
  margin-top: 5px;
  z-index: 4;

    
}
#ten {
  border-radius: 9px;
  background: red;
  position: absolute;
  float: left;
  top: 500px;
  width: 100px;
  height: 90px;
margin-left:  650px;
  margin-top: 5px;
  z-index: 4;

    
}
#eleven {
  border-radius: 9px;
  background:orange;
  position: absolute;
  float: left;
  top: 500px;
  width: 100px;
  height: 190px;
margin-left:  850px;
  margin-top: 5px;
  z-index: 4;

    
}
#twelve {
  border-radius: 50px;
  background:darkblue;
  position: absolute;
  float: left;
  top: 700px;
  width: 50px;
  height: 50px;
margin-left:  300px;
  margin-top: 5px;
  z-index: 4;

    
}
#thirteen {
  border-radius: 8px;
  background:darkolivegreen;
  position: absolute;
  float: left;
  top: 750px;
  width: 50px;
  height: 50px;
margin-left:  550px;
  margin-top: 5px;
  z-index: 4;

    
}
#fourteen {
  border-radius: 0px;
  background:darkviolet;
  position: absolute;
  float: left;
  top: 860px;
  width: 150px;
  height: 50px;
margin-left:  500px;
  margin-top: 5px;
  z-index: 4;

    
}
#fifteen {
  border-radius: 0px;
  background:gold;
  position: absolute;
  float: left;
  top: 850px;
  width: 50px;
  height: 50px;
margin-left:  580px;
  margin-top: 5px;
  z-index: 4;

    
}
#sixteen {
  border-radius: 14px;
  background:hotpink;
  position: absolute;
  float: left;
  top: 780px;
  width: 80px;
  height: 80px;
margin-left:  620px;
  margin-top: 5px;
  z-index: 4;

    
}
#seventeen {
  border-radius: 50px;
  background:lemonchiffon;
  position: absolute;
  float: left;
  top: 790px;
  width: 50px;
  height: 150px;
margin-left:  700px;
  margin-top: 5px;
  z-index: 4;

    
}
#eighteen {
  border-radius: 50px;
  background:indigo;
  position: absolute;
  float: left;
  top: 775px;
  width: 50px;
  height: 50px;
margin-left:  850px;
  margin-top: 5px;
  z-index: 4;

    
}
#nineteen {
  border-radius: 50px;
  background:lavender;
  position: absolute;
  float: left;
  top: 850px;
  width: 150px;
  height: 50px;
margin-left:  850px;
  margin-top: 5px;
  z-index: 4;

    
}
#twenty {
  border-radius: 100px;
  background:darkorange;
  position: absolute;
  float: left;
  top: 900px;
  width: 150px;
  height: 150px;
  margin-left:  400px;
  margin-top: 5px;
  z-index: 4;

    
}



.wrap{
    height: 300px;
    opacity: 0.788;
    left: -340px;
    top: -1785px;
    z-index: 900;
    

}

.wrap:hover .Ellipse_3{
    margin-left:  95%;
    background: coral;
   
    border-radius: 50%;
}

.req2{
  top: 1100px;
  margin-left:  400px;
  position: absolute;
  background: lightgray;
  border-radius: 10px;  
}
.req3{
  top: 1600px;
  margin-left:  400px;
  position: absolute;
  background: darkgray;
}
