html,body {background-color: #FFFFF;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
   text-align: justify;
   color: rgb(130, 128, 128);
   height: 100%;
   text-align: justify;
   
}

* {
  margin: 0;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.header{
    padding:5px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 42px; 
}
.site-footer {
  background: lightcoral;
  color: white;
  
}

.topRestaurants{
    padding: 20px;
    margin: 5px 0 40px;
    background: center;

    text-align: justify;
}
.regFood{
    padding: 20px;
    margin: 5px 0 40px;
    background: center;

    text-align: justify;
}
.streetFiles{
    padding: 20px;
    margin: 5px 0 40px;
    background: center;

    text-align: justify;
}
.atxLandmarks{
      padding: 20px;
    margin: 5px 0 40px;
    background: center;

    text-align: justify;
}
.fileupload{
      padding: 20px;
    margin: 5px 0 40px;
    background: center;

    text-align: justify;
}
.cookie{
      padding: 20px;
    margin: 5px 0 40px;
    background: center;

    text-align: justify;
}
.sesh{
      padding: 20px;
    margin: 5px 0 40px;
    background: center;

    text-align: justify;
}
.filt{
      padding: 20px;
    margin: 5px 0 40px;
    background: center;

    text-align: justify;
}
.emailer{
      padding: 20px;
    margin: 5px 0 40px;
    background: center;

    text-align: justify;
}
.up{    padding: 20px;
    margin: 5px 0 40px;
    background: center;

    text-align: justify;}
.filterChecker{    padding: 20px;
    margin: 5px 0 40px;
    background: center;

    text-align: justify;}