

html{
    background: url(thing.png), repeat;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  font-family: "Museo Sans Rounded";
    color: #595959;
    text-align: center;
}
.center {
  background: white;
    margin: auto;
    width: 60%;
    border:3px solid #595959;
    padding: 10px;
}

#rss{
  text-align: center;
}
.rss{
  color: red;
}